* {
  margin: 0;
  outline: none;
  padding: 0;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background: black;
}

button {
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  align-self: center;
  height: 20px;
  background: rgb(231, 231, 231);
  outline: none;
  opacity: 1;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: rgb(0, 174, 255);
  cursor: pointer;
  height: 20px;
  width: 20px;
}

input::-moz-slider-thumb {
  background: rgb(0, 174, 255);
  cursor: pointer;
  height: 20px;
  width: 20px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: 600;
  outline: none;
  text-align: center;
  text-align-last: center;
  width: 2.5rem;
}

option {
  background: rgb(78, 78, 78);
  color: white;
  outline:none;
  text-align: center;
  text-align-last: center;
}

video {
  object-fit: fill;
}

.player {
  align-content: center;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px auto;
  margin-bottom: 0;
  width: 80%;
}

.video-screen {
  transition: opacity .5s;
  position: relative;
  top: 5%;
  left: 0;
  width: 100%;
}

.controls {
  background: rgba(0, 0, 0, 0.521);
  border: 5px solid rgba(0, 0, 0, 0.05);
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  display: flex;
  height: 10%;
  justify-content: space-around;
  opacity: 0;
  margin: 0;
  padding: 1rem 0;
  transition: .5s;
  transition-property: opacity, visibility;
  transform: translateY(-100%);
  visibility: hidden;
  width: 100%;
  z-index: 2;
}

.controls * {
  opacity: .7;
  transition: opacity .3s;
}

.controls.active {
  opacity: 1;
  visibility: visible;
}

.fullscreen {
  transform: translateY(-49%);
}

.fullscreen-button {
  align-self: center;
  border: 7px dashed white;
  background: transparent;
  height: 35px;
  margin: 10px;
  transition: scale .1s;
  width: 50px;
}

.play {
  align-self: center;
  height: 40px;
  margin: 0 20px;
  width: 50px;
}

.play.start {
  background: none;
  border: 20px solid transparent;
  border-right: none;
  border-left: 35px solid white;
  margin: 0;
  margin-left: 30px;
  margin-right: 10px;
}

.play.pause {
  background: none;
  border: none;
  border-left: 15px solid white;
  border-right: 15px solid white;
}

.volume-bar {
  margin: 10px;
  width: 80px;
}

.time-bar {
  width: 70%;
}

.time {
  align-self: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  min-width: 135px;
  opacity: .9;
}

.speed {
  align-self: center;
  color: white;
  font-weight: bold;
  opacity: .9;
  margin-right: 5px;
  width: 50px;
}

.file-chooser {
  background:black;
  color: white;
}

::-webkit-media-controls {
  display:none;
}

@media only screen and (max-width: 900px) {
  .player {
    height: 100vh;
    margin: 0 auto;
  }
  .controls {
    transform: translateY(-50%);
  }
  .fullscreen-button {
    display: none;
  }
}

@media (hover: hover) {
  .controls *:hover {
    opacity: .9;
  }

  .fullscreen-button:active {
    transform: scale(1.2);
  }
}